<div id="client-panel-notification">
    <div id="client-panel-notification-bg"></div>
    <div id="client-panel-notification-img" 
        [style.background-color] = 'notification.color'>
    </div>
    <div id="client-panel-notification-device">{{notification.device}}</div>
    <div id="client-panel-notification-type-bg" 
        [style.background-color] = 'notification.color'>
    </div>
    <div id="client-panel-notification-type">{{notification.type}}</div>
    <div id="client-panel-notification-description">{{notification.description}}</div>
    <div id="client-panel-notification-date">{{notification.date}}</div>
    <div id="client-panel-notification-time">{{notification.time}}</div>
</div>